apiVersion: apps/v1
kind: Deployment
metadata:
  name: sjproject
  labels:
    app: sjproject
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: sjproject
  template:
    metadata:
      labels:
        app: sjproject
    spec:
      containers:
        - name: sjproject
          # image: sanjayaram/myproject:v16-20260202-174045
          # imagePullPolicy: IfNotPresent
          image: sanjayaram/myapp:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
