name: CI-CD Pipeline

on:
  push:
    branches:
      - main
    paths-ignore:
      - "k8s/deployment.yaml"

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: sanjayaram/myproject:${{ github.sha }}

      - name: Update Kubernetes manifest
        run: |
          sed -i "s|{{IMAGE_TAG}}|${{ github.sha }}|g" k8s/deployment.yaml

      - name: Commit updated manifest
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git add k8s/deployment.yaml
            git commit -m "CD: deploy image ${{ github.sha }}"
            git push origin HEAD:main
          fi
